.git
.gitignore
.editorconfig
.phpunit.result.cache

.env
.env.*
!.env.example
!.env.production.example

node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*

*.zip
graphify-out
.tmp
